.home {
    display: flex;
    height: calc(100vh - 170px);
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h1 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 45px;
}

.home h2 {
    margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 25px;
    transform: rotateZ(-7deg);

    padding: 50px 0;
}

.home-btn {
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    color: #000;

    width: 170px;
    margin: 10px;
    border: 2px solid #000;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-decoration: none;

    gap: 10px;
}

.home-btn:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.home-btn-icon {
    width: 30px;
    height: 30px;
}

.home-btn:hover .home-btn-icon {
    filter: invert(1);
}

.back-btn {
    font-size: 16px;
}
.back-btn .flipX {
    transform: scaleX(-1);
}