nav {
	box-sizing: border-box;
	height: 60px;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid grey;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 50px;

	gap: 60px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav h1 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 45px;
}

.login-btn {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	padding: 10px 20px;

	border-radius: 2px;
}

.login-btn:hover {
	background-color: #000;
	color: #ffffff;
}

.avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;

	cursor: pointer;
}

.how-to-play-link {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 20px;
	text-decoration: underline;
}

.spacer {
	flex-grow: 1;
}